@{
    ViewBag.Title = "Home Page.Index";
}
@*@model IEnumerable<MovieSpa.Models.Movie>*@

<div ng-controller="MovieController">
    {{MoviesHeader}}

    <div class="grid-padding-x content-block">
        <h2>List of movies</h2>
       List: {{MovieList}}

        @*@foreach (var item in Model)
        {*@
        <div ng-repeat="m in MovieList" class="grid-x movie-content">
            @*ng-repeat="item in Model | filter:filterText"*@
            <div class="small-6 large-4 columns">
                @*<h4>ID: @item.Id</h4>*@
                <h4>Title: {{m.Title}}</h4>
                <p>Genre: {{m.Genre}}</p>
                <p>Year: {{m.Year}}</p>
                <p>Rating: {{m.Rating}}</p>
            </div>
        </div>
        @*}*@
    </div>
</div> @*controller*@
