@{
    ViewBag.Title = "Home Page.Index";
}
@*@model IEnumerable<MovieSpa.Models.Movie>*@

<div ng-controller="MovieController">
    {{MoviesHeader}}

    @*Search*@
    <div class="grid-x grid-padding-x search-block">
        @*<div ng-app="" class="small-2 large-4 columns">
            <input type="text" ng-model="name" />
            {{name}}
        </div>*@
        <div class="small-6 large-4 columns">
            <ul class="menu">
                <li><input type="text" ng-model="search[searchBy]" placeholder="Search"></li>
                <li>
                    <select ng-model="searchBy">
                        <option value="$"></option>
                        @*<option value="ID">ID</option>*@
                        <option value="Title">Title</option>
                        <option value="Genre">Genre</option>
                        <option value="Year">Year</option>
                        <option value="Rating">Rating</option>
                        <option value="Description">Description</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>

        @*Content*@
        <div class="grid-padding-x content-block">
            <h2>List of movies</h2>
            List: {{MovieList}}

            <div ng-repeat="m in MovieList | filter:search" class="grid-x movie-content">
                <div class="small-6 large-4 columns">
                    @*<h4>ID: @item.Id</h4>*@
                    <h4>Title: {{m.Title}}</h4>
                    <p>Genre: {{m.Genre}}</p>
                    <p>Year: {{m.Year}}</p>
                    <p>Rating: {{m.Rating}}</p>
                    <p>Description: {{m.Description}}</p>
                </div>
            </div>
        </div>
    </div> @*controller*@
