@{
    ViewBag.Title = "Home Page.Index";
}
@*@model IEnumerable<MovieSpa.Models.Movie>*@

<div ng-controller="MovieController">
    @*Search*@
    <div class="grid-x grid-padding-x search-block">
        <div class="small-3 large-3 columns">
        </div>
        <div class="small-3 large-3 columns">
            <input type="text" ng-model="search[searchBy]" placeholder="Search">
        </div>
        <div class="small-3 large-3 columns">
            <select ng-model="searchBy">
                <option value="$"></option>
                @*<option value="ID">ID</option>*@
                <option value="Title">Title</option>
                <option value="Genre">Genre</option>
                <option value="Year">Year</option>
                <option value="Rating">Rating</option>
                <option value="Description">Description</option>
            </select>
        </div>
        <div class="small-3 large-3 columns">
        </div>
    </div>
        @*Content*@
        <div class="grid-padding-x content-block">
            <h4 class="list-header">List of movies</h4>
            <div ng-repeat="m in MovieList | filter:search" class="grid-x movie-content">
                <div class="small-6 large-4 columns">
                    @*<h4>ID: @item.Id</h4>*@
                    <p><b>Title:</b> {{m.Title}}</p>
                    <p><b>Genre:</b> {{m.Genre}}</p>
                    <p><b>Year:</b> {{m.Year}}</p>
                    <p><b>Rating:</b> {{m.Rating}}</p>
                    <p><b>Description:</b> {{m.Description}}</p>
                </div>
            </div>
        </div>
    </div> @*controller*@
